.workout-modal {
    position: absolute;
    width: 75%;
    height: 50%;
}

.plus-btn {
    background: none;
    border: none;
    box-shadow: none;
}

.plus-btn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}