@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@500&family=Ubuntu:wght@300&display=swap');

.font {
    font-family: 'Kanit', sans-serif;
}

.card-wrapper {
    position: absolute;
    display: flex;
    justify-content: left;
    height: 50%;
    left: 10%;
}

.card-wrapper h3 {
    color: black;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: rgba(226, 226, 226, 0.3);
}