@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@500&family=Ubuntu:wght@300&display=swap');

.font {
    font-family: 'Kanit', sans-serif;
}

.card-wrapper {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    top: 10%;
    left: 10%;
}

.card-wrapper h3 {
    color: black;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: rgba(226, 226, 226, 0.3);
    margin-top: 15px;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
}