.card-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    top: 10%;
    left: 10%;
}

.card-wrapper h3 {
    color: black;
    text-align: center;
}

.card-wrapper:hover {
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: rgb(238, 107, 28);
    margin-top: 15px;
}

.cards h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 !important;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
}