@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@500&family=Ubuntu:wght@300&display=swap');

.font {
    font-family: 'Kanit', sans-serif;
}

.card-wrapper {
    position: relative;
    display: flex;
    justify-content: left;
    height: 100%;
    left: 80px;
}

.card-wrapper h3 {
    color: black;
    text-align: center;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    border-radius: 10px;


}