.heading-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    margin-top: 1rem;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media (min-width: 768px) {
    .heading-dashboard {
        margin-left: 3rem;
    }
}

@media (max-width: 768px) {
    .heading-dashboard {
        margin-left: 0;
    }
}