.heading-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 1rem;
}

.heading-logo {
    font-family: "Anton SC", sans-serif;
    font-size: 22px;
}

.heading-user-name {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media (min-width: 768px) {
    .heading-dashboard {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .heading-dashboard {
        margin-left: 0;
    }
}