.heading-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 1rem;
    border-bottom: 1px solid #0f011f;
}

.heading-logo {
    font-family: "Anton SC", sans-serif;
    font-size: 20px;
}

.heading-user-name {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 0 !important;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.personal-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.notification-icon {
    position: relative;
    width: 30px;
}

.notification-icon span {
    position: absolute;
    bottom: 10px;
    left: 12px;
    display: block;
    background-color: #ee6b1c;
    border-radius: 50%;
    font-size: 12px;
}

@media (min-width: 768px) {
    .heading-dashboard {
        height: 100%;
    }
    .user-info {
        width: 280px;
    }
}

@media (max-width: 768px) {
    .heading-dashboard {
        margin-left: 0;
    }
}