nav {
    display: block;
    position: fixed;
    height: 100%;
    width: 75px;
    border-right: 1px solid #0f011f;
    box-shadow: 0px 5px 5px;
}

.side-menu {
    height: 100%;
    padding: 10px 0 10px 0;
}

.side-menu-items {
    height: 75%;
    padding: 0;
}

.side-menu-items {
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #0f011f;
}

.menu-item:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: 0px;
}

/* HAMBURGER MENU */

.line {
    display: block;
    background-color: #ebebeb;
    height: 4px;
    width: 30px;
    border-radius: 2px;
}

.line:hover {
    cursor: pointer;
}

.hamburger-menu:hover {
    cursor: pointer;
}

/* HAMBURGER MENU END */


@media (min-width: 768px) {
    nav {
        left: 0;
    }
}

@media (max-width: 768px) {

    li:last-of-type {
        margin-top: auto;
    }

    nav {
        left: -100px;
        transition: 1s;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .mobile-menu {
        z-index: 10;
        background-color: #554664;
        left: 0;
        transition: 1s;
    }

    .hamburger-menu {
        display: flex;
        height: 25px;
        width: 50px;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .close-modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}