@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.user-type {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-header {
    border-bottom: 2px solid #ee6b1c !important;
}

.card-header p {
    font-family: "Anton SC", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0;
    color: black;
}

.card-body p{
    font-family: "Montserrat", sans-serif !important;
}

.card-body button {
    font-family: "Anton SC", sans-serif;
    border: transparent;
    border-radius: 10px;
    background-color: #ee6b1c;
    color: white;
    letter-spacing: 2px;
    width: 260px;
    height: 50px;
}

.card-body button:hover {
    transition: all ease-in .3s;
    border-radius: 0px;
    background-color: #ee6b1c;
    color: white;
}

@media (max-width: 768px) {
    .card {
        width: 620px !important;
    }
}

@media (min-width: 768px) {
    .user-type {
        width: 75%;
    }
    .card {
        width: 620px !important;
    }
}

