.btn:hover {
  color: black !important;
  background: white !important;
}

.logo img {
  height: 35px;
}

.nav-link {
  color: white !important;
}

/* Navbar Toggler */



@media only screen and (max-width: 768px) {

  #main-menu {
    margin-top: 5%;
  }

  .logo img {
    height: 27px;
  }
}
