.info-card {
    width: 500px;
  }
  .btn:hover{
    color: black !important;
    background: white !important;
  }
  .logo img{
    height: 35px;
  }
  
  @media only screen and (max-width: 320px) {
    .logo img {
      height:27px;
    }
    .info-card{
      width: 100%;
    }
  }
  