.logout-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
}

.logout-modal-wrapper {
    width: 720px;
    padding: 25px;
    z-index: 12;
    background-color: white;
}

@media (max-width: 768px) {
    .logout-modal-wrapper {
        width: 100%;
    }
}

