@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@500&family=Ubuntu:wght@300&display=swap');

.create-workout-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 100%;
}

.create-workout-modal-header {
    display: flex;
    justify-content: space-between;
}

.create-workout-modal-wrapper {
    padding: 20px;
    background: #fff;
    width: 600px;
}

.create-workout-modal-header button {
    background: none;
    border: 0px;
}

.formkit-label {
    color: black;
    font-weight: lighter;
}

.exercises-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.exercises-group input[type="number"] {
    width: 80px;
}

.is-workout-finished > .formkit-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: space-evenly;
}

.is-workout-finished > .formkit-wrapper > .formkit-inner input {
    width: 100%;
    height: 60%;
}

.formkit-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: end;
}

.formkit-actions>.formkit-outer>.formkit-wrapper button {
    height: 35px;
    width: 75px;
    border: 1px solid mediumseagreen;
    border-radius: 5px;
    background: none;
}
