@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@500&family=Ubuntu:wght@300&display=swap');

.create-workout-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 100%;
}

.create-workout-modal-header {
    display: flex;
    justify-content: space-between;
}

.create-workout-modal-wrapper {
    padding: 20px;
    background: #fff;
    width: 600px;
}

.close-workout {
    background: transparent;
    border: 0px;
}

.exercises {
    display: flex;
    justify-content: space-between;
}

.form-check {
    text-align: center;
}

.input-group {
    flex-direction: column;
    width: auto !important;
}

.input-group input {
    width: 120px !important;
}

.create-workout-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-workout-modal-footer button {
    width: 150px;
}

.delete-exercise {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.delete-exercise img {
    margin-top: 15px;
}

.delete-exercise img:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .create-workout-modal-wrapper {
        width: 100%;
    }

    .exercises {
        flex-direction: column;
    }

}