.dashboard-wrapper {
    display: flex;
    flex-direction: row;
    background-image: url(../../img/backgrounds/Background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.dashboard {
    background: transparent;
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar-items {
    width: 60px;
}

.dash-nav {
    width: fit-content;
    height: 25%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.add-day {
    border-radius: 20px;
    width: 250px;
    height: 100px;
}

.content-card {
    width: 100%;
}

.modal-body {
    width: fit-content;
}

.counter {
    height: 28px;
}

.cards {
    margin-top: 80px;

}