@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.home-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000
}

.home-view .row {
  height: 100% !important;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content-title {
  text-align: center;
}

.main-content-title h1 {
  font-family: "Anton SC", sans-serif;
}

.main-content-description {
  padding: 0 10% 0 10%;
  margin-top: 20px;
  text-align: center;
}

.main-content-description p {
  font-family: "Montserrat", sans-serif;
}

.main-content-footer {
  display: flex;
  flex-direction: column;
}

.main-content-footer button {
  width: 200px;
}

.login-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard-type {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}