@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
  background-color: #000;
}

.highlighted {
  color: #ee6b1c;
}

.home-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000
}

.home-view .row {
  height: 100% !important;
}

.home-view>.row>.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-view .row .col hr {
  border: 2px solid #ee6b1c;
  opacity: 1;
  width: 120px;
}

.home-view .row .col.main-content-title {
  text-align: center;
}

.home-view .row .col .main-content-title h1,
.home-view .row .col h3{
  font-family: "Anton SC", sans-serif;
}

.main-content-description {
  padding: 0 5% 0 5%;
  text-align: center;
}

.main-content-description p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.main-content-footer {
  display: flex;
  flex-direction: column;
}

.main-content-footer button {
  font-family: "Anton SC", sans-serif;
  letter-spacing: 2px;
  width: 260px;
  height: 50px;
}

.main-content-footer button:hover {
  background-color: #ee6b1c;
  border: 2px solid black !important;
}

.side-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
